<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242882190009-idntblrruo1rirphdssa6fn9ptaa3p6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242882190009-idntblrruo1rirphdssa6fn9ptaa3p6r</string>
	<key>API_KEY</key>
	<string>AIzaSyBV1-3QFl9tQiSm8-twnjYlQJZ9QViZOKA</string>
	<key>GCM_SENDER_ID</key>
	<string>242882190009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musicallyStreet</string>
	<key>PROJECT_ID</key>
	<string>musically-street-7537a</string>
	<key>STORAGE_BUCKET</key>
	<string>musically-street-7537a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242882190009:ios:b9208ad36da3752688d968</string>
</dict>
</plist>